html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  margin: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: black;
  border-color: black;
  color: white;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #0070f3;
  border-color: #0070f3;
}

main p {
  margin-block-start: .5rem;
  margin-block-end: .5rem;
}